@import "tailwindcss";


a.active hr{
    display: block;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.marquee-track {
  width: max-content;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}